{% extends 'base.html' %}

{% block title %}Edit {{st.firstname}} {{st.surname}}{% endblock title %}

{% block content %}

<form action="{% url 'edit_student' id=id%}" method="post">
    {% csrf_token %}

    {{ form }}

    
    <input type="submit" value="Confirm">
</form>

<form action="{% url 'del_student' id=id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this student?');">
    {% csrf_token %}
    <input type="submit" value="Delete Student">
</form>

{% endblock content %}